#frame {/*----------图片轮播相框容器----------*/  
            position: relative; /*--绝对定位，方便子元素的定位*/  
            width: 100%;  
            height: 260px;/*px*/  
            overflow: hidden;/*--相框作用，只显示一个图片---*/    
        }  
        #photos img {  
            float: left;  
            width:750px; 
            height:260px;/*px*/  
        }  
        #photos {/*---设置总的图片宽度--通过位移来达到轮播效果----*/  
            position: absolute;z-index:9px;  
            width: calc(100% * 5);/*---修改图片数量的话需要修改下面的动画参数*/  
        }  
        .play{  
            animation: ma 20s ease-out infinite alternate;/**/  
        }  
        @keyframes ma {/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/  
            0%,20% {        margin-left: 0px;       }  
            25%,40% {       margin-left: -750px;    }  
            45%,60% {       margin-left: -1500%;    }  
            65%,80% {       margin-left: -2250%;    }  
            85%,100% {      margin-left: -3000%;   }  
        }  
        .num{  
            position:absolute;z-index:10;  
            display:inline-block;  
            right:40px;
            bottom:20px;/*px*/  
            border-radius:100%;  
            background:#2E2F35;  
            width:15px;
            height:15px;  
            line-height:15px;  
            cursor:pointer;  
            color:#fff;  
            text-align:center;  
            opacity:0.8;  
        }  
        .num:hover{background:#7B7C80;}  
        .num:hover,#photos:hover{animation-play-state:paused;}  
        .num:nth-child(2){margin-right:30px}  
        .num:nth-child(3){margin-right:60px}   
        #a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}   
        #a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}   
        @keyframes ma1 {0%{margin-left:-3000px;}100%{margin-left:-0px;} }    
        @keyframes ma3 {100%{margin-left:-1500px;}   }  