
body{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.bdd_p{
  clear:both;
  overflow:hidden;
  width: 90%;
  font-size:36px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  margin-left:32px;
  margin-right:32px;
  margin-top:20px;

}
.share-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.share-body {
  height: calc(100% - 120px);
  overflow-x: hidden;
  overflow: auto;

}
.bdd_r_g{
  float:left;
  line-height:60px;
  display: inline-block;
}
.bdd_r_a{
  margin-top:30px;
  height:24px;
  font-size:28px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:24px;

}
.bdd_p_le{
  clear:both;
  overflow:hidden;
  width: 90%;
  font-size:28px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  margin-left:32px;
  margin-right:25px;
  line-height:50px;
  margin-top:48px;
 text-indent: 2em;
}
.bdd_r_g_ro{
  float:left;
  line-height:60px;
  display: inline-block;
}
.bdd_p_th_o,.bdd_p_th_l{
  height:32px;
  font-size:24px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:32px;
  text-align: center;
}
.bdd_p_table{
  width: 100%;
  margin-top:100px;
  margin-bottom: 0;
}

.bdd_p_th_o{
  font-weight: 500;

}
.bdd_p_th_l{
  padding-top:40px;
  font-family:PingFangSC-Regular;
  font-weight:400;

}
.bdd_p_foo{
  /* height:50px; */
  font-size:28px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  /* line-height:10px; */
  text-align: center;
}
.bdd_p_footer{
  padding-top:100px;
}
.bdd_p_m{
  margin-bottom:48px;
}
