.bdd_header{
  width: 100%;
  height: 36px;
  font-size:36px;
  font-family:PingFangSC-Regular;
  color:rgba(51,51,51,1);
  line-height:40px;
  margin-top:26px;

}
.bdd_news{
  width:100%;
  margin-top:100px;

}
.bdd_span{
  font-size:36px;
  font-family:PingFangSC-Medium;
  color:rgba(51,51,51,1);
  margin-top:32px;
}

.bdd_header{
  text-align: center;
}
.bdd_c{
  font-size: 28px;
  margin-top:30px;
  margin-left:32px;

}
.bdd_a,.bdd_b{
  background:rgba(245,245,245,1);
  width: 52px;
  padding:10px;
  text-align: center;
}
.bdd_b{
  width: 172px;
  margin:10px;
}
.bdd_plone{
  margin-top:60px;
  height:48px;
  font-size:48px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:48px;
  margin-left:32px;
  margin-right:32px;
}
.bdd_v{
  margin-top:30px;
  margin-left:32px;
  margin-right:32px;
  border-bottom: 1px solid #ccc;
}
.bdd_pl,.bdd_k{
  width:128px;
  height:32px;
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:80px;
}
.bdd_k{
  margin-left:50px;
  width:254px;
  height:32px;
  color:rgba(51,51,51,1);

}
.bdd_hr{
  margin-top:20px;
  width:718px;
  height:1px;
  background:rgba(230,230,230,1);

}
.bdd_d{
  margin-top:30px;
  width:750px;
  background:rgba(245,245,245,1);
}
.bdd_zi{
  margin-top:20px;
  width:100%;
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  margin-left:32px;
}
.bdd_ji{
  margin-top:20px;
  border:2px solid rgba(235,235,235,1);
  margin-left: 32px;
  margin-right: 32px;

}
.bdd_time{
  width:128px;
  font-size:32px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(102,102,102,1);

}
.bdd_ri{
  width:174px;
  height:32px;
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:50px;


}
.bdd_s{
  padding:32px;
  width: 100%;
}
.bdd_color{
  background:rgba(248,248,248,1);
}
.bdd_o{
  float:right;
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  margin-left:80px;
  width:70%;
}
.bdd_h{
  color:#CEA63F ;
}
.bdd_f{
  margin-top:20px;
  height:28px;
  font-size:28px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:28px;
  margin-left:32px;
}
.bdd_img{
  width:104px;
  height:104px;
  margin-top:13px;
}
.bdd_footer{
  height:128px;
  background:rgba(255,255,255,1);
  box-shadow:0px -8px 44px -20px rgba(0,0,0,0.3);

}
.bdd_g{
  width:110px;
  height:32px;
  font-size:32px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:18px;


}
.bdd_n{
  height:20px;
  font-size:20px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:13px;
}
.bdd_foo{
  width:148px;
  height:64px;
  background:linear-gradient(135deg,rgba(233,210,115,1) 0%,rgba(206,166,63,1) 100%);
  border-radius:8px;
}
.bdd_x{
  width:150px;
  height:24px;
  font-size:24px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:15px;
  margin:26px;


}
.bdd_one,.bdd_two,.bdd_foo{
  float: left;
}
.bdd_two,.bdd_foo{
  margin-top:40px;
}
.bdd_one{
  margin-left:48px;
  margin-top:-10px;

}
.bdd_two{
  margin-top:38px;
  margin-left:20px;
}
.bdd_foo{
 float: right;
  margin-right:48px;
  margin-top:22px;
}
.bdd_col{
  color:#CEA63F;
}
.bdd_w{
  letter-spacing:100px;
}
.bdd_p_kip{
  font-size: 28px;
}
.bdd_p{
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  margin-top:30px;
  margin-left:32px;
  margin-right:32px;
  font-size:32px;
}
.bdd_i_fot{
  margin-top:200px;
}
.bdd_i_o{
  clear:both;
  overflow:hidden;
  width: 90%;
  font-size:36px;
  font-family:PingFangSC-Medium;
  font-weight:700;
  color:rgba(51,51,51,1);
  margin-left:32px;
  margin-right:32px;

}
.bdd_k_o{
  float:left;
  line-height:60px;
  display: inline-block;
}
.bdd_main{
  clear:both;
  overflow:hidden;
  width:100%;
  padding-top:32px;
  border-bottom: 1px solid #ccc;
  margin-left:32px;
  margin-right:32px;
  padding-bottom:23px;
}
.bdd_title{
  width:20%;
  height:32px;
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:32px;
}
.bdd_content{
  width:70%;
  font-size:32px;
  line-height:40px;
  margin-left:22px;
}
.bdd_title,.bdd_content{
  float:left;
  line-height:50px;
  display: inline-block;
}
.bdd_main_u{
  clear:both;
  overflow:hidden;
  width:100%;
  padding-top:32px;
  margin-left:32px;
  margin-right:32px;
  padding-bottom:23px;

}
.bdd_i_color{
  height:32px;
  font-size:32px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(102,102,102,1);

}
.bdd_i_po{
  font-size:32px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:40px;
}

