.clear{
  clear:both;
}
.listDetails{
  width:100%;
  box-sizing:border-box;
}
.details-topback{
  width:100%;
  height:88px;/*px*/
  line-height: 88px;/*px*/
  background-color:#343941;
  box-sizing:border-box;
  padding-left:24px;
  padding-right:24px;
  position:fixed;
  top:0px;
  z-index: 100;
}
.emp-box{
  width:100%;
  height:88px;/*px*/
}
.topback-img{
  float:left;
}
.topback-img>span:first-child{
  display: block;
  float:left;
  width:30px;
  height:34px;/*px*/
  margin-right:10px;
}
.topback-img>span:first-child>img{
  height:100%;
  vertical-align:text-bottom;/*文字和图片横向对齐*/
}
.topback-img>span:last-child{
  display: block;
  float:left;
  font-size:30px;/*px*/
  color:#c4c5cc;
}
.topback-rimg{
  float:right;
  height:88px;/*px*/
  line-height: 88px;/*px*/
  
}
.topback-rimg>img{
  vertical-align:text-bottom;/*文字和图片横向对齐*/
  height:44px;/*px*/
  margin-top:22px;/*px*/
  margin-left:24px;
}
.gymnasiumDetails{
  width:100%;
  box-sizing:border-box;
  padding:24px;
  background-color: #29303a;
  border-ottom:1px solid #343a42;
}
.gymnasium-title{
  font-size:28px;/*px*/
  color:#c4c5cc;
  margin:10px 0px;/*px*/
}
.gymnasium-place{
  position: relative;
  margin:5px 0px;/*px*/
}
.gymnasium-place>span:first-child{
  font-size:22px;/*px*/
  color:#7b7c80;
}
.gymnasium-place>span:last-child{
  font-size:22px;/*px*/
  color:#7b7c80;
  position: absolute;
  right:0px;
  bottom:0px;
}
.gymnasium-star{
  margin-top:20px;/*px*/
}

.gymnasium-star>img{
  height:26px;/*px*/
  margin-right:6px;
  vertical-align:text-bottom;/*文字和图片横向对齐*/
}
.gymnasium-star>span{
  font-size:22px;/*px*/
  margin-left:6px;
  color:#7b7c80;
}
.gymnasium-introduceimg{
  width:100%;
  margin-top:24px;/*px*/
  margin-bottom: 24px;/*px*/
}
.gymnasium-introduceimg>div:first-child{
  width:32%;
  box-sizing:border-box;
  float: left;
  height:140px;/*px*/
}
.gymnasium-introduceimg>div.center-gym{
  width:32%;
  box-sizing:border-box;
  margin-left:2%;
  margin-right:2%;
  float: left;
  height:140px;/*px*/
}
.gymnasium-introduceimg>div.right-gym{
  width:32%;
  box-sizing:border-box;
  float: left;
  height:140px;/*px*/
}
.gymnasium-introduceimg>div img{
  height:100%;
  width:100%;
}
.gymaddress-box{
  width:100%;
  height:48px;/*px*/
}
.gymaddress-box>img:first-child{
  height:24px;/*px*/
  margin-right:24px;
}
.gymaddress-box>img:last-child{
  height:36px;/*px*/
  float:right;
}
.gymaddress-box>span{
  font-size:28px;/*px*/
  color:#b4b4b4;
}
.bulk-box{
  width:100%;
  margin-top:24px;/*px*/
  box-sizing:border-box;
  padding-left:15px;
  padding-right:15px;
  border-bottom:1px solid #343a42;
  background-color: #29303a;
}
.bulkList{
  width: 100%;
  box-sizing:border-box;
  border-bottom:1px solid #343a42;
  padding:14px 9px;
}
.bulkList-img{
  width:20%;
  box-sizing:border-box;
  float:left;
  height:100px;/*px*/
}
.bulkList-img>img{
  width:100%;
  height:100%;
}
.bulkList-text{
  width:60%;
  box-sizing:border-box;
  float:left;
  height:100px;/*px*/
  padding-left:24px;
}
.bulkList-text>div:first-child{
  height:50px;/*px*/
  line-height: 50px;/*px*/
  color:#c4c5cc;
  font-size: 28px;/*px*/
}
.bulkList-text>div:last-child{
  height:50px;/*px*/
  line-height: 50px;/*px*/
  color:#ed5079;
  font-size: 28px;/*px*/
}
.bulkList-text>div:last-child>span:last-child{
  color:#7b7c80;
  font-size:22px;/*px*/
  margin-left:24px;
}

.bulkList-details{
  width:20%;
  box-sizing:border-box;
  float:left;
  height:100px;/*px*/
  line-height: 100px;/*px*/
  text-align: right;
}
.bulkList-details>img{
  height:24px;/*px*/
  margin-left:24px;
}
.bulkList-details>span{
  font-size:22px;/*px*/
  color:#707277;
}
.hidden-list{
  width:100%;
  height:64px;/*px*/
  line-height: 64px;
  text-align: center;

}
.hidden-list>span{
  font-size:22px;/*px*/
  color:#7b7c80;
}
.hidden-list>img{
  height:8px;/*px*/
  margin-left:10px;
}
.comments-box{
  margin-top:24px;/*px*/
  box-sizing:border-box;
  width:100%; 
  background-color: #29303a;
}
.comments-title{
  width:100%;
  height:66px;/*px*/
  line-height: 66px;/*px*/
  box-sizing:border-box;
  padding-left:24px;
  padding-right:24px;
  border-bottom:1px solid #343a42;
}
.comments-title>div:last-child{
  float:right;
  height:66px;/*px*/

}
.comments-title>div:last-child>img{
  height:24px;/*px*/
}
.comments-title>span:first-child{
  font-size:28px;/*px*/
  color:#c4c5cc;
}
.comments-details{
  width:100%;
  box-sizing:border-box;
  padding-left:24px;
  padding-right:24px;
  margin-top:30px;/*px*/
}
.comments-portrait{
  width:20%;
  height:100%;
  float: left;
}
.comments-portrait>img{
  width:90px;
  height:90px;
  border-radius:50%;

}
.comments-text{
  width:80%;
  height:100%;
  float: left;
}
.comments-text>div{
  width:100%;
}
.comments-name{
  height:50px;/*px*/
  line-height: 50px;/*px*/
}
.comments-name>span:first-child{
  font-size:28px;/*px*/
  color:#c4c5cc;
}
.comments-name>span:last-child{
  font-size:22px;/*px*/
  color:#7b7c80;
  float:right;
}
.comments-score{
  margin-top:12px;/*px*/
  margin-bottom:12px;/*px*/
}
.comments-score>span{
  font-size:22px;/*px*/
  color:#7b7c80;
  margin-right:20px;
}
.comments-score>img{
  height:26px;/*px*/
  margin-right:6px;
  vertical-align:text-bottom;/*文字和图片横向对齐*/
}
.comments-contert{
  font-size:22px;/*px*/
  color:#c4c5cc;
}
.comments-img>div{
  float:left;
  height:128px;/*px*/
}
.comments-img>div>img{
  width:100%;
  height:100%;
}
.comments-img>div:first-child{
  width:32%;
  box-sizing:border-box;
  float: left;
  height:140px;/*px*/
}
.comments-img>div.center-gym{
  width:32%;
  box-sizing:border-box;
  margin-left:2%;
  margin-right:2%;
  float: left;
  height:140px;/*px*/
}
.comments-img>div.right-gym{
  width:32%;
  box-sizing:border-box;
  float: left;
  height:140px;/*px*/
}
.foot-write{
  position: fixed;
  bottom:0px;
  z-index: 100;
  width:100%;
  height:98px;/*px*/
  line-height: 98px;/*px*/
  text-align: center;
  background-color: #343941;
}
.foot-write>img{
  height:34px;/*px*/
  vertical-align:text-bottom;/*文字和图片横向对齐*/
}
.foot-write>span{
  font-size:30px;/*px*/
  margin-left:24px;
  color:#c4c5cc;
}